@{
       Layout = "~/Views/Shared/_Diseno2.cshtml";

}

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Productos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row product-btn justify-content-between mb-40">
                <div class="properties__button">
                    <!--Nav Button  -->
                    
                    <!--End Nav Button  -->
                </div>
                <!-- Grid and List view -->
                <div class="grid-list-view">
                </div>
                <!-- Select items -->
               
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <input type="hidden" id="can" value="tienda" />
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row" id="pro">

                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <div id="contactanos" class="watch-area section-padding30">
        <div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="~/Content/img/contactus.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Bogotá,Colombia.</h3>
                                <p>Caracas,Cl 52-37</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+57 345 675 58 29</h3>
                                <p>Lun a Vie, 9am-7pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>gestorsualiado@gmail.com</h3>
                                <p>Envianos tus preguntas</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Envio Gratis</h6>
                            <p>Si tu envio es para un lugar en Bogotá,Colombia, escribenos para recibir el accesorio con envio gratis.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Modo de pago</h6>
                            <p>Por el momento solo aceptamos pago contraentrega para tu completa comodidad y confianza.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Devoluciones</h6>
                            <p>Si tu producto no cumple con su funcionamiento puedes contactarnos y haremos el cambio o la devolucion del dinero.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Products End -->
 