
@{
    Layout = "~/Views/Shared/_Diseno.cshtml";
}
<!-- Hero Area End-->
<!-- About Details Start -->
<div id="Nosotros" class="watch-area content-padding20">
    <div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/Content/img/collageTienda.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>ElectrodoShop</h2>
                    <p>   Somos una micro empresa dedicada a la venta de accesorios para computadores y celulares, llevamos mas de 5 años en el comercio y esperamos seguir mejorando.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Details End -->
