
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Diseno.cshtml";

}
<input id="can" value="index" type="hidden" />
<main>
    <!--? slider Area Start -->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Selecciona los mejores accesorios </h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Tenemos los mejores accesorios para celulares y computadores a tu dispocision.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="/Tienda/Tienda" class="btn hero-btn">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">

                                <img src="~/Content/img/Apple.png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Disfruta de nuestra gran variedad</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Encuentra los accesorios que estabas buscando aquí en ElectrodoShop.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="/Tienda/Tienda" class="btn hero-btn">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="~/Content/img/watch (1).png" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Watch Choice  Start-->
    <div id="Nosotros" class="watch-area section-padding30">
        <div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="~/Content/img/collageTienda.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>ElectrodoShop</h2>
                        <p>Somos una micro empresa dedicada a la venta de accesorios para computadores y celulares, llevamos mas de 5 años en el comercio y esperamos seguir mejorando.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Watch Choice  End-->
    <!--? Popular Items Start -->
    <div class="popular-items section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-70 text-center">
                        <h2>Productos</h2>
                        <p>Estos son algunos de los productos que puedes encontrar en nustra tienda</p>
                    </div>
                </div>
            </div>
            <div id="products" class="row">

            </div>
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="/Tienda/Tienda" class="btn view-btn1">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <div id="contactanos" class="watch-area section-padding30">
        <div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="~/Content/img/contactus.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Bogotá,Colombia.</h3>
                                <p>Caracas,Cl 52-37</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+57 345 675 58 29</h3>
                                <p>Lun a Vie, 9am-7pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>gestorsualiado@gmail.com</h3>
                                <p>Envianos tus preguntas</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Envio Gratis</h6>
                            <p>Si tu envio es para un lugar en Bogotá,Colombia, escribenos para recibir el accesorio con envio gratis.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Modo de pago</h6>
                            <p>Por el momento solo aceptamos pago contraentrega para tu completa comodidad y confianza.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Devoluciones</h6>
                            <p>Si tu producto sale defectuoso puedes contactarnos y haremos el cambio o la devolucion del dinero.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<a href='https://www.freepik.com/vectors/business'>Business vector created by freepik - www.freepik.com</a>


