
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="/Inicio/Inicio">
                <em class="flaticon-home"></em>
            </a>
        </li>
        <li class="active">Inicio</li>
    </ol>
</div><!--/.row-->
<input id="can" value="inicio" type="hidden" />
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tús tareas</h1>
    </div>
</div><!--/.row-->
<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Calendario
            </div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tareas
            </div>
            <div class="panel-body">
                <ul class="todo-list" id="tareas">
                </ul>
            </div>
        </div>
    </div>
</div>
